<form class="p-3 we2" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        #email="ngModel"
        placeholder="Enter your email"
        required
      />
      <mat-hint>Ex: admin@gmail.com</mat-hint>
      <mat-error *ngIf="email?.errors?.required"
        >This field is required</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        name="password"
        ngModel
        #password="ngModel"
        minlength="8"
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter your password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        class="noBorderBtn"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.required">
        This field is required</mat-error
      >
      <mat-error *ngIf="password?.errors?.minlength">
        Password must be atleast
        {{ password?.errors?.minlength.requiredLength }} characters
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <!-- [disabled]="!loginForm.form.valid" -->
    <button mat-raised-button color="primary" type="submit">Login</button>
  </div>
</form>
